tr:nth-child(odd) {
  background-color: transparent;
  border-color: gray;
  border-width: 1px;
  color: white;
}
tr:nth-child(even) {
  background-color: transparent;
  border-color: gray;
  border-width: 1px;
  color: white;
}
thead {
  background-image: linear-gradient(to right, #1c1e21, #231c4d);
  color: black;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.rotate-left {
  transform: rotate(-80deg);
}
table {
  text-align: center;
}
.placeholder-l-4::placeholder{
 padding-left: 10px;
}